# python stuff
*.py[cod]
*.log
*.pot
*.pyc
.coverage
.testmondata
__pycache__/
.pytest_cache/

# test reports
test-reports/

# generated data
fixtures/
responses/

# virtualenv
venv/

# editors
.vscode/

# test stuff
database-service/test-report.xml