# python stuff
*.py[cod]
*.log
*.pot
*.pyc
.coverage
.testmondata
__pycache__/
.pytest_cache/

# test reports
test-report.xml

# generated data
fixtures/
responses/

# virtualenv
venv/

# editors
.vscode/