# python stuff
*.py[cod]
*.log
*.pot
*.pyc
.coverage
.testmondata
__pycache__/
.pytest_cache/

# test reports
test-reports/

# generated data
fixtures/
responses/

# virtualenv
venv/

.quasar
.DS_Store
.thumbs.db
node_modules
dist/
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
/src-bex/www
/src-bex/js/core
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress test results
*/cypress/screenshots
*/cypress/videos
*/junit-reports

# Generated spec
specification/

# Jest unit tests
*/test/jest/coverage/
